.Basket {
	position: sticky;
	top: 20px;
	background-color: rgba(249, 249, 249, 1);
	padding: 20px 35px;
	border-radius: 5px;

	text-align: center;
}

.Basket h1 {
	font-size: 28px;
}

.Basket-content {
	margin: 0 0 35px 0;
	color: gray;
	font-size: 15px;
}

.Basket-content .Basket-item {
	margin-bottom: 20px;
}

.Basket-content .Basket-total-price {
	font-size: 16px;
	font-weight: 600;
}

.Basket-checkout {
	width: 250px;
	height: 50px;
	border-radius: 5px;

	font-size: 20px;
}

.Basket-checkout:not(:disabled) {
	cursor: pointer;
}
