.FoodModal {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);

	z-index: 999;
}

.Food-selection-container {
	max-width: 500px;
	background-color: #fff;
	border-radius: 10px;
	padding: 30px 25px;
}

.Food-selection-container > img {
	width: 500px;
	height: 180px;
	background-color: gray;
	border-radius: 5px;
}

.Food-selection-container .Food-quantity > label {
	margin-right: 5px;
}

.Food-selection-container .Food-quantity > select {
	width: 10%;
}

.Food-selection-container .Food-quantity {
	margin: 10px 0;
}

.Food-options {
	margin: 20px 0;
}

.Food-options > h3 {
	margin: 20px 0 5px;
}

.Food-options .Food-choice > input {
	margin-right: 10px;
}

.Food-options .Food-choice {
	margin-bottom: 10px;
}

.Food-button-group > :last-child {
	float: right;
}

.Food-selection-container .Food-button-group > button {
	width: 48%;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 600;

	cursor: pointer;
}
